# Dependency directories
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional: Mac filesystem files
.DS_Store

# Optional: Windows system files
Thumbs.db